*{
  margin:0;
  border:0;
  padding: 0;
}

h1, h2, h3, h4{
  font-family: 'Jura', sans-serif;
}


h1{
  text-decoration-line: underline;
  margin-top: 1em;
}

h2{
  font-size: 1em;
}


p{
  font-family: 'Sen', sans-serif;
  font-size: .65em;
}


body{
  background-color: cadetblue;
  color: white;
  text-align:center;
}

main{
  background-color:gray;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1em;
  padding: 10px;
  box-sizing: border-box;
  width: 300px;
  height:160px;
  box-shadow: 30px 15px ivory, -30px -15px lightskyblue;
  
}

section{
  line-height: 1.5em;
}


#boiling h2{
  margin-top: 5em;
}

#freezing h2{
  margin-top: 3em;
}

#good-temp h2{
  margin-top: 2em;
}


.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 1s;
  margin-top: 5em;
}
